themes {
   default {
        fg "#fedaae"
        bg "#061822"
        black "#061822"
        red "#dd998a"
        green "#008eab"
        yellow "#feaf3c"
        blue "#0bc7e3"
        magenta "#db662d"
        cyan "#77dbf4"
        white "#ffe9d7"
        orange "#feaf3c"
    }
}

default_layout "general"

ui {
    pane_frames {
        rounded_corners true
    }
}

keybinds clear-defaults=true {
    // keybinds are divided into modes
    normal {
        // bind instructions can include one or more keys (both keys will be bound separately)
        // bind keys can include one or more actions (all actions will be performed with no sequential guarantees)
        bind "Alt a" { MoveFocus "Left"; }
        bind "Alt s" { MoveFocus "Down"; }
        bind "Alt w" { MoveFocus "Up"; }
        bind "Alt d" { MoveFocus "Right"; }
        bind "Alt o" { NewPane; }
        bind "Alt z" { Detach; }
        bind "Alt q" { CloseFocus; }
        bind "Alt n" { GoToNextTab; }
        bind "Alt p" { GoToPreviousTab; }
        bind "Alt t" { NewTab; }
        bind "Alt =" { Resize "Increase"; }
        bind "Alt -" { Resize "Decrease"; }
        bind "Alt f" { ToggleFocusFullscreen; }
        bind "Alt v" { ToggleFloatingPanes; }
        bind "Alt [" { PreviousSwapLayout; }
        bind "Alt ]" { NextSwapLayout; }
        bind "Alt u" { 
            LaunchOrFocusPlugin "zellij:session-manager" {
                floating true
            }
        }
    }
}


